 {{#if BOOKS_DATA }}
<ul>

{{#each BOOKS_DATA as |book|}}

<li data-id={{book.id}}>
    <div class="details">
      <h3>{{book.title}}</h3>
      <p>{{book.author}}</p>
    </div>
    <button hx-delete="/books/{{book.id}}" hx-target="closest ul" hx-swap="outerHTML" >Delete</button>
    <button hx-get="/edit-form/{{book.id}}" hx-target="closest li" style="margin-left: 5px;" >Edit</button>
  </li>

{{/each}}
</ul>
  {{/if}}
{{!-- ######################### --}}
 {{#if matches }}
<ul>

{{#each matches as |book|}}

<li data-id={{book.id}}>
    <div class="details">
      <h3>{{book.title}}</h3>
      <p>{{book.author}}</p>
    </div>
    <button hx-delete="/books/{{book.id}}" hx-target="closest ul" hx-swap="outerHTML" >Delete</button>
    <button hx-get="/edit-form/{{book.id}}" hx-target="closest li" style="margin-left: 5px;" >Edit</button>
  </li>

{{/each}}
</ul>
  {{/if}}